<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="edu.isistan.reassistant.WizardCategory"
            class="edu.isistan.uima.wizards.UIMAWizard"
            icon="icons/uima.gif"
            id="edu.isistan.uima.wizards.UIMAWizard"
            name="UIMA Wizard">
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="edu.isistan.uima.editors.UIMAEditor"
            class="org.eclipse.ui.editors.text.TextEditor"
            name="UIMA Editor"
            extensions="uima"
            icon="icons/uima.gif"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="java.lang.Object"
            id="edu.isistan.reassistant.popupMenu">
         <menu
            label="REAssistant"
            path="additions"
            id="edu.isistan.reassistant.popupSubMenu">
            <groupMarker
               name="content"/>
            <separator
               name="additions"/>
         </menu>
         <visibility>
            <and>
			    <objectClass name="org.eclipse.core.resources.IResource"/>
			    <or>
			    	<objectState name="name" value="*.srs"/>
			    	<objectState name="name" value="*.ucs"/>
			    	<objectState name="name" value="*.ucsmodel"/>
			    </or>
            </and>
         </visibility>
         <action
			id="edu.isistan.uima.actions.UIMAWizardAction"
			label="Create UIMA"
			tooltip="Launchs the UIMA wizard over the selected resource"
			icon="icons/uima.gif"
			class="edu.isistan.uima.actions.UIMAWizardActionDelegate"
			menubarPath="edu.isistan.reassistant.popupSubMenu/additions"
			enablesFor="1">
		    <enablement>
				<and>
				    <objectClass name="org.eclipse.core.resources.IResource"/>
				    <or>
				    	<objectState name="name" value="*.srs"/>
				    	<objectState name="name" value="*.ucs"/>
				    	<objectState name="name" value="*.ucsmodel"/>
				    </or>
				</and>
		    </enablement>
         </action>
      </objectContribution>
   </extension>
</plugin>
