<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.isistan.reassistant.ViewCategory"
            name="REAssistant Views"/>
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="edu.isistan.reassistant.WizardCategory"
            name="REAssistant Wizards"/>
   </extension>
            
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="edu.isistan.reassistant.wizards.REAssistantWizard"
            name="REAssistant Model"
            class="edu.isistan.reassistant.wizards.REAssistantWizard"
            category="edu.isistan.reassistant.WizardCategory"
            icon="icons/reaeditor.gif">
         	<description>Create a new REAssistant model file</description>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.isistan.reassistant.editor.REAssistantEditor"
            id="edu.isistan.reassistant.editor.REAssistantEditor"
            name="REAssistant Editor"
            extensions="rea"
            icon="icons/reaeditor.gif"
            contributorClass="edu.isistan.reassistant.editor.REAssistantEditorContributor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="java.lang.Object"
            id="edu.isistan.reassistant.popupMenu">
         <menu
            label="REAssistant"
            path="additions"
            id="edu.isistan.reassistant.popupSubMenu">
            <groupMarker
               name="content"/>
            <separator
               name="additions"/>
         </menu>
         <visibility>
            <and>
			    <objectClass name="org.eclipse.core.resources.IResource"/>
			    <or>
			    	<objectState name="name" value="*.srs"/>
			    	<objectState name="name" value="*.ucs"/>
			    	<objectState name="name" value="*.ucsmodel"/>
			    </or>
            </and>
         </visibility>
         <action
			id="edu.isistan.reassistant.actions.REAssistantWizardAction"
			label="Create REA"
			tooltip="Launchs the REAssistant Wizard over the selected resource"
			icon="icons/reaeditor.gif"
			class="edu.isistan.reassistant.actions.REAssistantWizardActionDelegate"
			menubarPath="edu.isistan.reassistant.popupSubMenu/additions"
			enablesFor="1">
		    <enablement>
				<and>
				    <objectClass name="org.eclipse.core.resources.IResource"/>
				    <or>
				    	<objectState name="name" value="*.srs"/>
				    	<objectState name="name" value="*.ucs"/>
				    	<objectState name="name" value="*.ucsmodel"/>
				    </or>
				</and>
		    </enablement>
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="edu.isistan.reassistant.editor.REAssistantEditor"
            id="edu.isistan.reassistant.editorMenu">
         <menu
            label="REAssistant"
            path="additions"
            id="edu.isistan.reassistant.editorSubMenu">
            <groupMarker
               name="content"/>
            <separator
               name="additions"/>
         </menu>
         <action
			id="edu.isistan.reassistant.actions.CCMineAction"
			label="Cluster Mine CC"
			tooltip="Mine crosscutting concerns using UIMA preprocessing file and a clustering algorithm"
			icon="icons/searchcluster.gif"
			class="edu.isistan.reassistant.actions.CCMineActionDelegate"
			menubarPath="edu.isistan.reassistant.editorSubMenu/additions"
			toolbarPath="Normal/additions">
         </action>
         <action
			id="edu.isistan.reassistant.actions.CCRuleMineAction"
			label="Rule Mine CC"
			tooltip="Mine crosscutting concerns using UIMA preprocessing file and a rule engine"
			icon="icons/searchrule.gif"
			class="edu.isistan.reassistant.actions.CCRuleMineActionDelegate"
			menubarPath="edu.isistan.reassistant.editorSubMenu/additions"
			toolbarPath="Normal/additions">
         </action>
      </editorContribution>
   </extension>
   
   <extension
      id="edu.isistan.reassistant.visualiser"
      name="REAssistant Visualiser Provider"
      point="org.eclipse.contribution.visualiser.providers">
      <provider
            contentProviderClass="edu.isistan.reassistant.visualiser.REAssistantContentProvider"
            description="Provider that shows crosscutting concerns arrange according to the source documents."
            emptyMessage="No results"
            id="edu.isistan.reassistant.visualiser.REAssistantVisualiser"
            markupProviderClass="edu.isistan.reassistant.visualiser.REAssistantMarkupProvider"
            name="REAssistant Provider"
            priority="1"
            title="CC Global View"/>
   </extension>
   
   <extension point="org.eclipse.ui.perspectives">
      <perspective
         name="REAssistant"
         icon="icons/reaperspective.gif"
         class="edu.isistan.reassistant.perspective.REAssistantPerspectiveFactory"
         id="edu.isistan.reassistant.perspective.REAssistant">
      </perspective>
   </extension>
   
</plugin>
